

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="../../images/logo.png" alt="layui">
        </a>

        <ul class="layui-nav fly-nav-user">

            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs"></cite>
                    <img src="../../images/head.png">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/to/index"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                    <dd><a href="/to/set"><i class="layui-icon">&#xe620;</i>账号管理</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="" style="text-align: center;" id="loginOut">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-hide-xs">
    <div class="fly-panel fly-column">
        <div class="layui-container">
            <ul class="layui-clear">
                <li class="layui-hide-xs"><a href="/to/index">首页</a></li>
                <li class="layui-hide-xs"><a href="/">课件</a></li>
                <li class="layui-hide-xs"><a href="/">资料</a></li>
                <li class="layui-this"><a href="/to/homework">作业</a></li>
                <li class="layui-hide-xs"><a href="/">考试</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15" style="background: #FFFFFF">
        <div class="detail-about">
            <p style="font-size: 18px;font-weight: 600;color: black" id="worktitle"></p>
            <p style="font-size: 12px;display: inline">题量：1     出题人：</p>
            <p style="font-size: 12px;display: inline" id="teachername"></p>
            <p style="font-size: 12px;display: inline">     截止时间：</p>
            <p style="font-size: 12px;display: inline" id="workend"></p>
        </div>
        <div>
            <div id="Content" style="height: 1000px">
                <form id="postWork" action="">
                    <input hidden value="" id="userid">
                    <input hidden value="" id="username">
                    <input hidden value="" id="workid">
                    <div id="workdecs">
                        <p style="font-size: 18px;font-weight: 400">要求：</p>
                        <p style="font-size: 14px;font-weight: 400;margin-left: 10px;margin-top: 10px" id="workcontent"></p>
                    </div>
                    <div id="txtcontent" style="margin-top: 30px">
                        <p style="font-size: 14px">填写答案：</p>
                        <textarea id="contenttxt" style="display: none;"></textarea>
                        <button lay-submit lay-filter="sub" class="layui-btn layui-btn-lg" style="display: block;margin: 0 auto;margin-top: 40px">提交作业</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">校友圈</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>

<script src="../../layui/layui.js"></script>
<script src="../../js/check_token.js"></script>
<script src="../../js/jquery-3.4.1.js"></script>
<script>
    layui.use(['layer','jquery','element','layedit','form'], function(){
        var layer = layui.layer;
        var $ = layui.jquery
            ,element = layui.element
            ,layedit = layui.layedit
            ,form = layui.form
            ,index = layedit.build('contenttxt');; //Tab的切换功能，切换事件监听等，需要依赖element模块
        //右上角鼠标移入展开菜单
        var workid;
        var submitcontent;
        var studentid;
        var studentname;
        var coursename;
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
        //触发事件
        var active = {
            tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });
        //获取url中的值
        $(function () {
            var url = location.search;//获取url中"?"符后的字串
            if (url.indexOf("?") != -1) {    //判断是否有参数
                var str = url.substr(1);//从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
                strs = str.split("=");   //用等号进行分隔 （因为知道只有一个参数 所以直接用等号进分隔 如果有多个参数 要用&号分隔 再用等号进行分隔）
                worktitle = decodeURIComponent(strs);
                $("title").append(worktitle);
            }
        });
        //获取用户信息
        $(function () {
            var token = getCookies("Authorization");
            $.ajax({
                url: '/onlinets/user-info/getUser',
                type: 'GET',
                // 允许请求携带cookie
                xhrFields: {withCredentials: true}, //开启请求头
                headers: {Authorization: token},
                success: function (res) {
                    if (res.code === 100) {
                        var user = res.info.one_user; //接收到UserController中getUser方法中的one_user数据
                        studentid = user.idcardno;
                        studentname = user.name;
                        $('cite').append(studentname);
                        $("#userid").append(studentid);
                        $("#username").append(studentname);
                    }
                }
            });
        });
        studentid = $("#userid").val();
        studentname = $("#username").val();
        //查询作业详情
        $(function () {
            var token = getCookies("Authorization");
            $.ajax({
                type: 'POST',
                url: "/onlinets/homework/getWorkContent/"+worktitle,
                dataType: 'json',
                async: false,
                xhrFields: {withCredentials: true}, //开启请求头
                headers: {Authorization: token},
                success: function(result) {
                    console.log(result);
                    if (result.code === 100) {
                        var work = result.info.workContent;
                        $("#workid").append(work.workid);
                        submitcontent = work.submitcontent;
                        coursename = work.coursename;
                        $('#worktitle').append(work.worktitle);
                        $('#teachername').append(work.teachername);
                        $('#workcontent').append(work.workcontent);
                        var str = work.workend.year+"-"+work.workend.monthValue+"-"+work.workend.dayOfMonth+" "+work.workend.hour+":"+work.workend.minute
                        console.log(str);
                        $('#workend').append(str);
                    }
                },
                error: function(){
                    return;
                },
            });
            workid = $("#workid").val();
        })
        console.log(submitcontent);
        //提交作业
        form.verify({
            content: function(value) {
                return layedit.sync(index);
            }
        }).on('submit(sub)', function () {
            var homeworksub = new Object();
            var token = getCookies("Authorization");
            console.log(token);
            homeworksub.workid = workid;
            homeworksub.studentid =  studentid;
            homeworksub.studentname = studentname;
            homeworksub.submitcontent = $("#contenttxt").val();
            layedit.sync(index);
            let s = JSON.stringify(homeworksub);
            console.log(s);
            $.ajax({
                url: '/onlinets/homework-submit/submitWork/' +s,
                type: 'post',
                dataType:'json',
                xhrFields: {withCredentials: true},
                headers: {Authorization: token},
                success: function (res) {
                    console.log(res);
                    if (res.code === 100) {
                        console.log(res);
                        document.cookie="Authorization" + "=" +res.info.token;
                        layer.msg("发表成功！", {
                            time: 1000,
                            end: function(){
                                window.location.href = "/to/courseindex?"+coursename;
                            }
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
            return false;
        });
    });
</script>

</body>
</html>